
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, sans-serif;
  background: #fff url('imagens/peak.webp') center/cover no-repeat fixed;
  color: #000;
}

/* Centraliza e limita a largura do conteúdo */
.container {
  flex: 1;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Título centralizado */
h1 {
  text-align: center;
  color: #000000;
}

/* Menu de navegação centralizado */
.menu {
  text-align: center;
  margin-bottom: 40px;
}

.menu a {
  text-decoration: none;
  color: #070506;
  margin: 0 10px;
  font-weight: bold;
}

/* Espaçamento entre seções */
section {
  margin-bottom: 40px;
}

/* Estilização dos campos do formulário */
form input, form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #1a1414;
  border-radius: 4px;
}

form input[type="text"],
form input[type="email"] {
  width: 50%; 
  min-width: 120px;
  display: block;
}

button {
  background-color: #004466;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

/* Footer sempre no final da página */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
